@model IndexViewModel
@{
    ViewData["Title"] = "_Index";
    Layout = null;
}

@foreach (var item in ViewBag.posts)
{
    <div class="card">
        
        <h3 class="card-header"><a href="/Post/VerDetalle?id=@item.Id">@item.Titulo</a></h3>
        <div class="card-body">
            @foreach (var details in ViewBag.detalle)
            {
                if (details.IdPost == item.Id)
                {
                    <a href="#!" style="margin:5px" class="bg-light">@ViewBag.tagsDelPost[details.IdTags].Nombre </a>
                }
            }
        </div>
    </div>
}

<br />
<br />