
@{
    ViewData["Title"] = "Index";
}
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>
<script>
    $(document).ready(function (e) {
        $.get("/Post/_IndexB?busqueda=" + $("#busqueda").val(), function (respuesta) {
            $("#tbody").html(respuesta);
        });
        e.preventDefault();
    });
</script>

<script>
    $(document).ready(function (e) {
        $.get("/Search/_Index?busqueda=" + $("#busqueda").val(), function (respuesta) {
            $("#tbody").html(respuesta);
        });
        e.preventDefault();
    });
</script>

@*llamar tags*@
<script>
    $(document).ready(function (e) {
        $.get("/Search/Tagsss", function (respuesta) {
            $("#tagss").html(respuesta);
        });
        e.preventDefault();
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <a class="btn btn-secondary" href="/Post/Crear">Crear Nota </a>
        </div>
        <br />
        <br />
        <br />

        <div class="col-sm- my-0">
            <div class="input-group">
                <input id="busqueda" name="busqueda" class="form-control" placeholder="Buscar" />
            </div>
        </div>

        <div class="col-sm-2">
            <a class="btn btn-secondary" href="#" id="limpiar-filtros">Sin Filtro</a>
        </div>
    </div>
</div>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <div id="tagss">

            </div>
        </div>
        <div class="col-sm-10">
            <div id="tbody">

            </div>
        </div>
    </div>
</div>

<script>
    $("#busqueda").keyup(function (e) {
        $.get("/Search/_Index?busqueda=" + $("#busqueda").val() + "&tag=" + $(".tag-item.text-secondary").data('tag'), function (respuesta) {
            $("#tbody").html(respuesta);
        });
        e.preventDefault();
    });
    $(document).on("click", ".tag-item", function (e) {
        e.preventDefault();
        $('.tag-item').removeClass("text-danger")
        $(this).addClass("text-secondary")
        $.get("/Search/_Index?tag=" + $(this).data('tag') + "&busqueda=" + $("#busqueda").val(), function (respuesta) {
            $("#tbody").html(respuesta);
        });
    })
    $('#limpiar-filtros').on("click", function (e) {
        e.preventDefault();
        $('.tag-item').removeClass("text-secondary")
        $("#busqueda").val("")
        $.get("/Search/_Index", function (respuesta) {
            $("#tbody").html(respuesta);
        });
    })
</script>

