
@{
    ViewData["Title"] = "VerDetalle";
}

<h1>Detalle de la Nota</h1>

@foreach (var item in ViewBag.posts)
{
    <div class="card">
        <h3 class="card-header text-uppercase">@item.Titulo</h3>
        <div class="card-body">

            <p class="card-text">
                @Html.Raw(item.Contenido.Replace("\r\n", "<br />"))
                <h6><strong>Fecha Modificación: </strong>@item.Fecha</h6>
        </div>
    </div>
}
<br />
<a style="color:white" href="/Post/Index" class="btn btn-secondary">Regresar</a>